<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appcreator.isa.theunitconverterapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/unitconvertericon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/unitconvertericon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".MainActivity"
            android:label="@string/app_name"/>

        <activity android:name=".MainActivityTemperature"
            android:label="@string/app_name"/>

        <activity android:name=".MainActivityFrequency"
            android:label="@string/app_name"/>

        <activity android:name=".MainActivityDatarate"
            android:label="@string/app_name"/>


    </application>

</manifest>